.vs/* 
DecisionTreeLearning-G7/.vs/* 
DecisionTreeLearning-G7/DecisionTreeLearning-G7/obj/* 
DecisionTreeLearning-G7/DecisionTreeLearning-G7/App.config
DecisionTreeLearning-G7/DecisionTreeLearning-G7/AssemblyInfo.fs
DecisionTreeLearning-G7/DecisionTreeLearning-G7/DecisionTreeLearning-G7.fsproj
DecisionTreeLearning-G7/DecisionTreeLearning-G7/packages.config